# Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import /vendor/etc/init/init.batterysecret.rc
import /vendor/etc/init/init.mi_thermald.rc

on init
    chown system system /proc/last_kmsg

    # Mipi Display feature
    chmod 0777 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock

    # Allow both charger and hal_light to access panel0 backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

on fs
    mkdir /mnt/vendor/persist/audio 0755 system system
    chmod 644 /mnt/vendor/persist/audio/us_manual_cal
    mkdir /mnt/vendor/persist/haptics 0755 system system
    chmod 0644 /mnt/vendor/persist/haptics/vov
    chown system system /mnt/vendor/persist/haptics/vov
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/vov
    chmod 644 /mnt/vendor/persist/audio/us_manual_cal
    mkdir /mnt/vendor/persist/subsys 0770 root system
    mkdir /mnt/vendor/persist/camera 0777 root root
    chown system system /dev/tfa_reg
    chown system system /dev/tfa_rw
    chown system system /dev/tfa_rpc
    chown system system /dev/tfa_control
    chmod 0660 /dev/tfa_reg
    chmod 0660 /dev/tfa_rw
    chmod 0660 /dev/tfa_rpc
    chmod 0660 /dev/tfa_control
    chmod 0666 /dev/xlog
    chown system system /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/custom_wave
    chmod 0666  /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/custom_wave

on post-fs-data
    chmod 0644 /dev/elliptic0
    chmod 0644 /dev/elliptic1
    chmod 0660 /dev/ir_spi
    chown system system /dev/ir_spi
    mkdir /data/vendor/mac_addr 0770 system wifi
    mkdir /data/vendor/wlan_logs 0777 root shell
    mkdir /data/vendor/nfc 0770 nfc nfc

on boot
    chown system system /sys/class/touch/touch_dev/palm_sensor
    copy /vendor/etc/tunings.txt /mnt/vendor/persist/vpp/tunings.txt
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver
    chmod 0444 /sys/class/drm/card0-DSI-1/dynamic_fps
    chmod 0444 /sys/class/drm/card0-DSI-1/oled_pmic_id
    chmod 0444 /sys/class/drm/card0-DSI-1/panel_info
    chmod 0444 /sys/class/drm/card0-DSI-1/wp_info
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_count
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_param
    chmod 0664 /sys/class/drm/card0-DSI-1/doze_brightness
    chmod 0664 /sys/class/drm/card0-DSI-1/mipi_reg
    chown system system /sys/class/drm/card0-DSI-1/disp_count
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/drm/card0-DSI-1/doze_brightness
    chown system system /sys/class/drm/card0-DSI-1/dynamic_fps
    chown system system /sys/class/drm/card0-DSI-1/mipi_reg
    chown system system /sys/class/drm/card0-DSI-1/oled_pmic_id
    chown system system /sys/class/drm/card0-DSI-1/panel_info
    chown system system /sys/class/drm/card0-DSI-1/wp_info
    chown system system /sys/class/backlight/panel0-backlight/brightness_clone
    chmod 0664 /sys/class/power_supply/battery/dc_thermal_levels
    chown system system /sys/class/thermal/thermal_message/sconfig

on charger
    mkdir /mnt/vendor/persist
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/subsys 0770 root system

service vendor.nv_mac /vendor/bin/nv_mac
    class late_start
    user system
    group system inet net_admin wifi net_raw
    oneshot

on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

on property:persist.vendor.sys.fp.fod.large_field=1
    write sys/bus/i2c/devices/3-0049/fod_area 1

# initialize powerHAL when boot is completed
on property:sys.boot_completed=1
    setprop vendor.powerhal.init 1
